/* BASIC STYLES */

.row {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.col {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* END OF BASIC STYLES */

.App {
  color: white;
  min-height: 100vh;
  background-color: #1b1a27;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.controls {
  position: fixed;
  bottom: 10px;
  margin-top: 10px;
  width: 100%;
  justify-content: space-around;
}

.key {
  margin: 4px;
  font-weight: 600;
  color: white;
  width: 5px;
  height: 5px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: rgba(121, 121, 121, 0.178);
  border: 2px solid rgb(148, 148, 148);
  border-radius: 6px;
}

.pressed {
  background-color: rgba(255, 255, 255, 0.712);
}

.key:hover {
  background-color: rgba(255, 255, 255, 0.712);
  cursor: default;
}

.button {
  width: 4.8em;
}
.button:hover {
  background-color: rgba(238, 89, 89, 0.712);
}

.toggle {
  display: flex;
  width: 16em;
}
